<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <title>1 Stop Shop</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <script>
        $( document ).ready(function() {

/*
            $("#submit").click(function(){
                $.ajax({
                url:"/createItemAjax/",
                type:"POST",
                data:{itemName:$("#itemName").val(),itemDesc:$("#itemDesc").val(),catId:$("#cat").val(),price:$("#price").val()},
                success:function (result) {
                    console.log(result.return);

                    if (result.return) {
                        alert("Item posted! Redirecting you to the homepage:");
                        window.location.href = "./";

                    }
                    else {
                        alert("Something went wrong. Please try again!");
                    }
                }
            });});
            */
            //click button then insert into DB

        });


    </script>

  </head>
  <style>

  </style>


<body>
<nav class="navbar navbar-default topNavBar">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="glyphicon glyphicon-menu-hamburger"></span>

      </button>
      <a class="navbar-brand" href="#">1StopShop</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <!--<li class="active"><a href="#">Home</a></li>-->
        <li><a href="../">Home</a></li>
        <li><a href="/createItem">Create item</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="/message">Messages</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span> <%=userName%>
            <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="./enableTwoAuth/">2 Factor Authentication</a></li>
            <li><a href="/updateUserData">Edit userdata</a></li>

          </ul>
        </li>


        <li><a href="/loggout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      </ul>
      <form class="navbar-form navbar-right" action="/search" method="get">
        <div class="form-group">
          <input type="text" name ="name" class="form-control" placeholder="Search for product">
        </div>
        <button type="submit" class="btn btn-default">Go!</button>
      </form>
    </div>
  </div>
</nav>

  <div class="jumbotron text-center">
    <h2>
      Create item for sale<br>
    </h2>
    <h5>Earn money by selling stuff!</h5>
  </div>

<div class="container containerTopPadding">
  <form class="form-horizontal" action="\createItemAjax" method="POST" enctype="multipart/form-data">
    <div class="form-group">
      <label class="control-label col-sm-2" for="itemName">Item Name:</label>
      <div class="col-sm-10">
        <input type="text" name ="itemName"class="form-control" id="itemName" placeholder="Enter item name">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="photo">upload photo:</label>
      <div class="col-sm-10">
        <input type="file" name ="photo" class="form-control" id="photo" placeholder="Upload photo">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="price">Price:</label>
      <div class="col-sm-10">
        <input type="text" name ="price" class="form-control" id="price" placeholder="Enter price">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="itemDesc">Item Description:</label>
      <div class="col-sm-10">
        <input type="text" name ="itemDesc" class="form-control" id="itemDesc" placeholder="Enter item's description">
      </div>
    </div>
    <div class="form-group">
      <label for="sel1" class="control-label col-sm-2">Select categlory:</label>
      <div class="col-sm-10">
      <select name ="cat" class="form-control" id="cat">
        <option name="Books and Audible" value="Books and Audible">Books and Audible</option>
        <option name="Movies, Music and Games" value="Movies, Music and Games">Movies, Music and Games</option>
        <option name="Eletronics and Cocmputers" value="Eletronics and Cocmputers">Eletronics and Cocmputers</option>
        <option namee="Home, Garden and Tools" value="Home, Garden and Tools">Home, Garden and Tools</option>
        <option namee="Beauty, Health and Food" value="Beauty, Health and Food">Beauty, Health and Food</option>
        <option name="Toys, Kids and Baby" value="Toys, Kids and Baby">Toys, Kids and Baby</option>
        <option name="Clothing, Shoes and Jewelry" value="Clothing, Shoes and Jewelry">Clothing, Shoes and Jewelry</option>
        <option name="Handmade" value="Handmade">Handmade</option>
        <option name="Sports and Outdoors" value="Sports and Outdoors">Sports and Outdoors</option>
        <option name="Automotive and Industrial" value="Automotive and Industrial">Automotive and Industrial</option>
        <option name="Others" value="Others">Others</option>
      </select>
      </div>
    </div>


    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button id="submit" type="submit" class="btn btn-default">Submit</button>
      </div>
    </div>
  </form>
</div>
  </body>
</html>
