<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <title>1 Stop Shop</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <script>
        $( document ).ready(function() {
            $("#userName").on('input',function() {
                //console.log("button pressed!");
                $.ajax({url: "/checkUserDup?userName="+$("#userName").val(), success: function(result){
                    console.log(result);
                    if(result.UserId==-1){
                        $("#output").attr("class","glyphicon glyphicon-ok");
                        console.log("ok!");
                    }
                    else{
                        $("#output").attr("class","glyphicon glyphicon-remove");
                      //  $("#output").html("<font color='red'> user name is used!</font>");
                        console.log("fail!");
                    }
                }});
            });


            $("#submit").click(function(){
                $.ajax({
                url:"/createUser/",
                type:"POST",
                data:{userName:$("#userName").val(),password:$("#pwd").val(),email:$("#email").val(),firstName:$("#firstName").val(),lastName:$("#lastName").val(),addr:$("#addr").val(),telNo:$("#tel").val(),location:$("#loc").val()},
                success:function (result) {
                    console.log(result.return);

                    if (result.return) {
                        alert("Sign-up Successful! Redirecting you to our homepage:");
                        window.location.href = "./";

                    }
                    else {
                        alert("Something went wrong. Please try again!");
                    }
                }
            });});
            //click button then insert into DB
        });


    </script>

  </head>
  <style>

  </style>


<body>
  <nav class="navbar navbar-default topNavBar">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="glyphicon glyphicon-menu-hamburger"></span>

        </button>
        <a class="navbar-brand" href="#">1StopShop</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <!--<li class="active"><a href="#">Home</a></li>-->
          <li><a href="#">Home</a></li>
          <li><a href="#">Page 1</a></li>
          <li><a href="#">Page 2</a></li>
          <li><a href="#">Page 3</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Messages<span class="badge">777</span> </a></li>
          <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
        <form class="navbar-form navbar-right">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search for product">
          </div>
          <button type="submit" class="btn btn-default">Go!</button>
        </form>
      </div>
    </div>
  </nav>

  <div class="jumbotron text-center">
    <h2>
      Sign In<br>
    </h2>
    <h5>Log in to enjoy all the features!</h5>
  </div>

<div class="container containerTopPadding">
  <form class="form-horizontal">
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Email:</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="email" placeholder="Enter email">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Password:</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="pwd" placeholder="Enter password">
      </div>
    </div>



    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button id="submit" type="button" class="btn btn-default">Submit</button>
      </div>
    </div>
  </form>
</div>
  </body>
</html>
